body {
    font-family: math;
    background-color: #ffffff;
    color: #000000;
  }

  h1, h2, h3 {
      text-align: center;
  }

  .inactive {
    border: none !important;
    color: #adadad !important;
    background-color: #d1d1d1 !important;
  }

  .container {
      display: flex;
      justify-content: space-between;
  }

  .sidebar {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-wrap: nowrap;
  }

  .content {
      width: 100%;
      padding: 10px;
      border: 1px solid #dadada;
      border-radius: 10px;
  }

  .nav-buttons {
      display: flex;
      margin-bottom: 20px;
      flex-wrap: wrap;
      flex-direction: row;
  }

  .nav-buttons button {
      font-family: math;
      padding: 10px;
      cursor: pointer;
      background-color: #f0f0f0;
      border: 2px solid #ccc;
      border-radius: 10px;
      width:min-content;
  }

  .sidebar button {
      font-family: math;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 10px;
      background-color: #f0f0f0;
      border: 2px solid #ccc;
      border-radius: 10px;
  }
  
  .hidden {
      display: none;
  }
  
  .button.dist {
      width: 80%;
  }
  
  .visible {
      display: block;
  }
  
  .button {
      font-family: math;
      background-color: #f0f0f0; 
      border: 1px solid #ccc;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease; 
      margin: 5px;
  }
  
  .button:hover {
      border-color: #9325bb;
      border-radius: 10px;
  }
  
 
  
  .sidebar button:hover {
      border-color: #1fa6cb;
      border-radius: 10px;
  }
  
  .sidebar button.active {
      background-color: #1fa6cb; 
      color: #ffffff;
      border: 2px solid #1fa6cb;
  }

  .tr, .td{
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  body {
    font-family: math;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.labs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.lab-box {
    display: inline-block;
    padding: 15px 20px;
    background-color: #f0f0f0;
    border: 2px solid #d1d1d1;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 180px;
}

.lab-box:hover {
    border-color: #9325bb;
}

@media (max-width: 600px) {
    .lab-box {
        width: 100%;
        box-sizing: border-box;
        margin: 5px 0;
    }
}



.sidebar {
    float: left;
    width: 285px;
    padding: 10px;
}

.content {
    float: left;
    width: 100%;
    padding: 20px;
    margin-right: 20px;
}

.act {
    background-color: #9325bb; 
    color: #ffffff;
    border: 2px solid #9325bb;
}

.section3 {
    display: flex; 
    gap: 10px; 
    align-content: start;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}
